.top-line:hover {
    color: #198754 !important;
}

@media (max-width:576px){
    .top-text{
        visibility: hidden;    
        margin-left: -0px;
    }
    .hero{
        margin-left: 30%;

    }
   
  }